@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f9ca24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.container {
  width: 600px;
  aspect-ratio: 1/1;
  border: 2px solid #4a69bd;
  text-align: center;
  background: linear-gradient(#eb2f06, #bdc3c7);
  border-radius: 50%;
}
.pokemon {
  margin: 8px auto;
  font-size: 18px;
}
.btn-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  padding: 8px 20px;
  background: #4a69bd;
  border: none;
  color: white;
  z-index: 2;
}
.btn:active {
  transform: scale(0.96);
}

@media (max-width: 550px) {
  .container {
    width: 350px;
  }
  .pokemon {
    margin: 3px auto;
    font-size: 16px;
  }
}
